* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}

body {   
    background-color: lightcyan; 
}

#grid {
    margin: 1em auto;
    max-width: 60vw;
    max-height: 60vh;
    background-color:lightpink;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

#grid > div { 
    border-radius: 10px;
    max-height: 20vh;
    aspect-ratio: 1;
    background-color: lightseagreen;
    border: 1px solid black;
}