.screenWrapper {
  height: 100px;
  width: 100%;
  text-align: right;  
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #485461;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#display { 
  width: inherit;
  color: white;
  font-size: xx-large;
}