@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$main-color: #3BF6BF;
$secondary-color: #3B0362;
$font: 'Inter', sans-serif;

body {
  background-color: $main-color;
  margin: 0;
  font-family: $font;
  color: $secondary-color;
}